@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Boogaloo&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-branco: #f5f5f5;
    --cor-preto: #000000;
    --cor-cinza-claro: #3a2b4d;
    --cor-cinza-medio: #5b3f70;
    --cor-cinza-escuro: #2b1b36;
    --cor-menu-lateral: #7b4bbb;
    --cor-primaria: #7b4bbb;
    --cor-secundaria: #ff5ca6;
    --cor-secundaria-active: #fd85bb;
    --cor-destaque: #ff5ca6;
    --cor-fundo: #2b1b36;
    --cor-superficie: #3a2b4d;
    --cor-superficie-destaque: #4a3560;
    --cor-borda: #5b3f70;
    --cor-borda-footer: #5b3f70;
    --cor-borda-breadcrumb: #5b3f70;
    --cor-texto-principal: #f5f5f5;
    --cor-texto-suave: #d1bce3;
    --cor-texto-invertido: #000000;
    --cor-perigo: #e53935;
    --cor-sucesso: #43a047;
    --cor-aviso: #fb8c00;
    --cor-icone-ver: #00c378;
    --cor-icone-editar: #00bcd4;
    --cor-icone-excluir: #f44336;
}

.main {
    background-color: var(--cor-fundo);
    color: var(--cor-texto-principal);
}

.cor-padrao {
    color: var(--cor-texto-principal);
}

.botao {
    background-color: var(--cor-primaria);
    color: var(--cor-branco);
    border: none;
    border-radius: 0.375rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
}

.botao:hover {
    background-color: var(--cor-secundaria);
    box-shadow: 0 0 6px var(--cor-secundaria);
}

.botao:active {
    background-color: var(--cor-secundaria-active);
    box-shadow: 0 0 6px var(--cor-secundaria-active);
}

.botao-outline {
    background-color: transparent;
    color: var(--cor-branco);
    border: 1px solid var(--cor-branco);
}

.botao-excluir {
    background-color: var(--cor-perigo);
    color: var(--cor-branco);
    border: none;
    border-radius: 0.375rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
}

.botao-excluir:hover {
    background-color: #d32f2f;
    box-shadow: 0 0 6px var(--cor-perigo);
}

.botao-excluir:active {
    background-color: #b71c1c;
    box-shadow: 0 0 6px #b71c1c;
}

.botao-excluir-outline {
    background-color: transparent;
    color: var(--cor-perigo);
    border: 1px solid var(--cor-perigo);
    border-radius: 0.375rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.botao-excluir-outline:hover {
    background-color: var(--cor-perigo);
    color: var(--cor-branco);
    box-shadow: 0 0 6px var(--cor-perigo);
}

.botao-excluir-outline:active {
    background-color: #b71c1c;
    box-shadow: 0 0 6px #b71c1c;
}

.btn-primary.rounded-circle:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.068);
    transition: all 0.2s ease;
}

.botao-lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
}

.btn-warning {
    background-color: var(--cor-destaque);
    border-color: var(--cor-destaque);
    color: var(--cor-texto-principal);
}

.btn-warning:hover {
    filter: brightness(0.95);
    background-color: var(--cor-destaque);
    border-color: var(--cor-destaque);
}

.btn-danger {
    background-color: var(--cor-perigo);
    border-color: var(--cor-perigo);
    color: var(--cor-texto-principal);
}

.btn-danger:hover {
    filter: brightness(0.95);
    background-color: var(--cor-perigo);
    border-color: var(--cor-perigo);
}

.btn-outline-danger:hover {
    background-color: var(--cor-perigo);
    color: var(--cor-texto-invertido);
    border-color: var(--cor-perigo);
    transition: all 0.2s ease;
}

.card {
    border: 1px solid var(--cor-borda);
    background-color: var(--cor-superficie);
    box-shadow: 0 0 8px #6b5b4623;
}

.btn.rounded-circle:hover {
    transform: scale(1.04);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    transition: all 0.15s ease;
}

.wrapper {
    display: flex;
}

.main {
    flex-grow: 1;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-header {
    border-bottom: 1px solid var(--cor-borda);
    background-color: var(--cor-superficie);
    color: var(--cor-texto-suave);
}

.main-content {
    flex-grow: 1;
}

.sidebar {
    height: auto;
    position: sticky;
    z-index: 1;
    top: 0;
    transition: width 0.25s ease-in-out;
    background-color: var(--cor-superficie);
}

.sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.sidebar:not(.expand) {
    width: 90px;
    min-width: 90px;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.15rem 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-logo a {
    color: var(--cor-texto-invertido);
    font-weight: 700;
    font-size: 1.5rem;
    text-decoration: none;
}

.toggle-btn {
    display: flex;
    align-items: flex-start;
    background: transparent;
    border: none;
    font-size: 24px;
    color: var(--cor-texto-principal);
    cursor: pointer;
}

.sidebar .nav-link {
    color: var(--cor-branco);
    font-weight: 500;
    border-radius: 8px;
    margin-bottom: 0.25rem;
    padding: 0.75rem 1rem;
    gap: 1rem;
    white-space: nowrap;
}

.sidebar .nav {
    padding: 0.7rem 0;
    flex: 11 auto;
}

.sidebar .nav-link i,
.nav-dropdown i {
    font-size: 1.1rem;
}

.sidebar:not(.expand) .nav-link {
    text-align-last: justify;
    padding: 0.75rem;
    text-align: center;
    width: 90px;
    min-width: 90px;
}

.sidebar:not(.expand) .sidebar-logo,
.sidebar:not(.expand) .nav-title span{
    display: none;
}

.sidebar:not(.expand) .nav-item .nav-dropdown {
    position: absolute;
    top: 0;
    left: 90px;
    background-color: var(--cor-destaque);
    padding: 0;
    min-width: 15em;
    display: none;
}

.sidebar:not(.expand) .nav-item:hover .has-dropdown + .nav-dropdown.show,
.sidebar:not(.expand) .nav-item:hover .nav-option span {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
    background-color: var(--cor-secundaria);
    color: var(--cor-branco);
    box-shadow: inset 3px 0 0 var(--cor-primaria);
    transition: all 0.3s ease;
}

.sidebar .nav-link span,
.sidebar .dropdown-arrow {
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.25s ease, transform 0.25s ease;
    display: inline-block;
    white-space: nowrap;
}

.sidebar.expand .nav-link span,
.sidebar.expand .dropdown-arrow {
    opacity: 1;
    transform: translateX(0);
}

.nav-item {
    position: relative;
}

.sidebar.expand .sidebar-logo,
.sidebar.expand .nav-link span {
    animation: fadeIn 0.3s ease;
}

.nav-dropdown {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 5px;
}

.nav-dropdown .nav-link {
    font-size: 0.9rem;
    padding: 0.6rem 1rem;
    color: rgba(255, 255, 255, 0.7);
}

.dropdown-arrow {
    font-size: 0.8rem;
    transition: transform 0.2s ease-in-out;
}

.nav-link:not(.collapsed) .dropdown-arrow {
    transform: rotate(180deg);
}

.sidebar.expand .right-arrow {
    opacity: 0;
    pointer-events: none;
}

.sidebar:not(.expand) .dropdown-arrow {
    opacity: 0;
    pointer-events: none;
}

.footer {
    border-top: 1px solid var(--cor-borda-footer);
    background-color: var(--cor-superficie-destaque);
    color: var(--cor-texto-suave);
    padding: 1.5rem 1rem 1rem 1rem;
    text-align: center;
    font-size: 0.9rem;
}

.chip {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 30px;
    padding: .125rem 1rem;
    font-weight: 600;
    color: var(--cor-fundo);
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 1rem;
    color: #353a40;
    border-color: #a2a4ab;
    cursor: pointer;
}

.chip-outline:hover {
    color: #4c535c;
    background-color: #e9ecef;
    border-color: #7a7b80;
}

.btn-icon-acao {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: inherit;
    font-size: inherit;
    line-height: 1;
}

.card-filtos {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.090);
}

.table {
    list-style: none;
}

.table th{
    background-color: var(--cor-superficie);
    color: var(--cor-texto-principal);
    border-bottom: 2px solid var(--cor-borda);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 16px;
}

.table td {
    background-color: var(--cor-superficie-destaque);
    color: var(--cor-texto-principal);
    border-top: 1px solid var(--cor-borda);
    vertical-align: middle;
    font-size: 0.95rem;
}

.table tr {
    border-color: var(--cor-borda);
}

.task-description .descricao-box {
    background-color: var(--cor-superficie-destaque);
    border: 1px solid var(--cor-borda);
    border-radius: 6px;
    padding: 0.5rem 0.75rem;
    color: var(--cor-texto-principal);
    font-size: 0.95rem;
    line-height: 1.4;
}

.task-description .descricao-box span {
    white-space: pre-wrap;
}

.table-wrapper {
    max-height: 150px;
    overflow: auto;
    table-layout: fixed;
}

.table-responsive {
    max-height: 350px;
    overflow-y: auto;
    position: relative;
}

.table-responsive .table th {
    position: sticky;
    top: 0;
    border: #0055ff;
    z-index: 2;
    background-clip: padding-box;
}

.table-responsive .table th:last-child {
    border-right: none;
}

.table-responsive::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.table-responsive::-webkit-scrollbar-track {
    display: none;
}

.table-responsive::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.table-responsive::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.span-wrapper {
  display: block;
  max-height: 180px;
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.breadcrumb {
    color: var(--cor-texto-suave);
    margin: 0.5rem 0.5rem;
}

.breadcrumb a {
    color: var(--cor-texto-principal);
    font-weight: 500;
}

.breadcrumb a:hover {
    color: var(--process-cyan-2);
    text-decoration: underline;
}

.breadcrumb::before {
    content: "";
    display: block;
    height: 1px;
    background-color: var(--cor-borda);
    margin-bottom: 0.5rem;
}

.breadcrumb .separador {
    margin: 0 0.5rem;
    color: var(--cor-borda);
    font-weight: normal;
}

.breadcrumb .separator i {
    color: var(--cor-borda);
    opacity: 0.7;
    font-size: 0.8rem;
}

.breadcrumb-bg {
    background-color: var(--cor-superficie-destaque);
    padding: 0.5rem 0.5rem;
    border-bottom: 1px solid var(--cor-borda-breadcrumb);
}

input[type="radio"] {
    appearance: none;
    width: 12px;
    height: 12px;
    border: 2px solid var(--cor-cinza-escuro);
    border-radius: 50%;
    background-color: var(--cor-cinza-medio);
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease-in-out;
}

input[type="radio"]:checked:not(:disabled) {
    border: 2px solid var(--cor-cinza-escuro);
    box-shadow: inset 0 0 0 4px var(--cor-destaque);
}

input[type="radio"]:hover:not(:disabled) {
    box-shadow: 0 0 4px var(--cor-primaria);
    border-color: var(--cor-destaque);
}

input[type="radio"]:disabled {
    background-color: var(--cor-cinza-medio);
    border: 2px solid var(--cor-cinza-escuro);
    cursor: not-allowed;
}

input[type="radio"]:checked:disabled {
    background-color: var(--cor-cinza-medio);
    border: 2px solid var(--cor-cinza-escuro);
    box-shadow: inset 0 0 0 4px var(--cor-destaque);
}

input[type="checkbox"] {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid var(--cor-cinza-escuro);
    border-radius: 4px;
    background-color: var(--cor-cinza-medio);
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease-in-out;
}

input[type="checkbox"]:checked {
    background-color: var(--cor-destaque);
    border-color: var(--cor-cinza-escuro);
}

input[type="checkbox"]:checked::after {
    content: '✔';
    color: var(--cor-branco);
    position: absolute;
    top: -2px;
    left: -2px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
}

input[type="checkbox"]:hover:not(:disabled) {
    box-shadow: 0 0 4px var(--cor-primaria);
    border-color: var(--cor-destaque);
}

input[type="checkbox"]:disabled {
    background-color: var(--cor-cinza-medio);
    border-color: var(--cor-cinza-escuro);
    cursor: not-allowed;
    opacity: 0.7;
}

input[type="checkbox"]:checked:disabled::after {
    color: var(--cor-texto-invertido);
    opacity: 0.6;
}

.form-control, .form-select {
    color: var(--cor-texto-principal);
    background-color: var(--cor-fundo);
}

.form-control:disabled, .form-select:disabled {
    opacity: 0.6;
    color: var(--cor-texto-principal);
    background-color: var(--cor-fundo);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 992px) {
    .toggle-btn {
        display: none;
    }
}
