@using GeradorDeTestes.Dominio.ModuloMateria
@model CadastrarTesteViewModel

@{
    ViewBag.Titulo = "Cadastro de Teste";
}

<hr class="border border-white opacity-25" />

<div class="d-flex flex-wrap justify-content-between my-5 gap-1">
    <div class="col-12 col-md-6 align-self-center m-auto">
        <div class="card rounded-4 border-0">
            <div class="card-body cor-padrao p-md-4">
                <form asp-action="Cadastrar" method="post">
                    <h3>Formulário de Cadastro</h3>

                    @if (ViewData.ModelState["ConflitoCadastro"]?.Errors.Count > 0)
                    {
                        <div class="alert alert-danger alert-dismissible fade show my-3" role="alert">
                            @ViewData.ModelState["ConflitoCadastro"]!.Errors.First().ErrorMessage
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }

                    <div class="form-group d-grid mt-2">
                        <label class="form-label fs-5" asp-for="Titulo">Titulo:</label>
                        <input class="form-control" id="inputTitulo" asp-for="Titulo" />
                        <span class="text-danger d-block mt-2" asp-validation-for="Titulo"></span>
                    </div>

                    <div class="form-group d-grid mt-2">
                        <label class="form-label fs-5" asp-for="DisciplinaId">Disciplina:</label>
                        <select class="form-select" id="selectDisciplina" asp-for="DisciplinaId" asp-items="@Model.Disciplinas">
                            <option value="" disabled selected>Selecione uma Matéria</option>
                        </select>
                        <span class="text-danger d-block mt-2" asp-validation-for="DisciplinaId"></span>
                    </div>

                    <div class="form-group d-grid mt-2">
                        <label class="form-label fs-5" asp-for="Serie">Serie:</label>
                        <select class="form-select" id="selectSerie" asp-for="Serie" asp-items="@Html.GetEnumSelectList<EnumSerie>()">
                            <option value="" disabled selected>Selecione uma Série</option>
                        </select>
                        <span class="text-danger d-block mt-2" asp-validation-for="Serie"></span>
                    </div>

                    <div class="form-group d-grid mt-2">
                        <label class="form-label fs-5" asp-for="QuantidadeQuestoes">Quantida de Questões:</label>
                        <input class="form-control" id="inputQuantidadeQuestoes" asp-for="QuantidadeQuestoes" />
                        <span class="text-danger d-block mt-2" asp-validation-for="QuantidadeQuestoes"></span>
                    </div>

                    <div class="form-group d-flex mt-2 gap-2">
                        <input asp-for="@Model.EhProvao" type="checkbox" />
                        <span>Provão</span>
                    </div>

                    <div class="form-group d-flex align-items-center justify-content-end gap-3 mt-3">
                        <a href="/testes" class="botao-excluir botao-excluir-outline rounded-3 px-2">
                            <i class="bi bi-x-circle"></i>
                            Cancelar
                        </a>
                        <button type="submit" class="botao rounded-4 px-5">
                            <i class="bi bi-arrow-right-circle"></i>
                            Continuar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}