<aside class="sidebar expand">
    <div class="d-flex justify-content-between p-4">
        <div class="sidebar-logo">
            <a href="/">
                <img src="~/assets/images/logo.png" style="border-radius: 20%;" alt="Gerador de Testes" width="100px">
            </a>
        </div>
        <button class="toggle-btn border-0" type="button">
            <i class="bi bi-chevron-double-left toggle-btn-icon"></i>
        </button>
    </div>
    <ul class="nav flex-column sidebar-nav gap-2 ms-auto">
        <li class="nav-item">
            <a class="nav-link nav-title fw-semibold" href="/">
                <i class="bi bi-house"></i>
                <span>Página Inicial</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-title fw-semibold collapsed has-dropdown" href="#" data-bs-toggle="collapse" data-bs-target="#dropdown-disciplinas" aria-controls="dropdown-disciplinas" aria-expanded="false">
                <i class="bi bi-journal-bookmark"></i>
                <span>Disciplinas</span>
                <i class="bi bi-chevron-down ms-auto dropdown-arrow"></i>
                <i class="bi bi-chevron-right ms-auto right-arrow"></i>
            </a>
            <ul class="nav-dropdown disciplinas list-unstyled collapse" id="dropdown-disciplinas" data-bs-parent=".sidebar-nav">
                <li class="nav-item">
                    <a class="nav-link nav-option fw-semibold my-1" href="/disciplinas">
                        <i class="bi-journal-text me-2"></i>
                        <span>Listar Disciplinas</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-option fw-semibold my-1" href="/disciplinas/cadastrar">
                        <i class="bi bi-journal-plus me-2"></i>
                        <span>Nova Disciplina</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-title fw-semibold collapsed has-dropdown" href="#" data-bs-toggle="collapse" data-bs-target="#dropdown-materias" aria-controls="dropdown-materias" aria-expanded="false">
                <i class="bi bi-book"></i>
                <span>Matérias</span>
                <i class="bi bi-chevron-down ms-auto dropdown-arrow"></i>
                <i class="bi bi-chevron-right ms-auto right-arrow"></i>
            </a>
            <ul class="nav-dropdown materias list-unstyled collapse" id="dropdown-materias" data-bs-parent=".sidebar-nav">
                <li class="nav-item">
                    <a class="nav-link nav-option fw-semibold my-1" href="/materias">
                        <i class="bi bi-book me-2"></i>
                        <span>Listar Matérias</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-option fw-semibold my-1" href="/materias/cadastrar">
                        <i class="bi bi-bookmark-plus me-2"></i>
                        <span>Nova Matéria</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-title fw-semibold collapsed has-dropdown" href="#" data-bs-toggle="collapse" data-bs-target="#dropdown-questoes" aria-controls="dropdown-questoes" aria-expanded="false">
                <i class="bi bi-question-circle"></i>
                <span>Questões</span>
                <i class="bi bi-chevron-down ms-auto dropdown-arrow"></i>
                <i class="bi bi-chevron-right ms-auto right-arrow"></i>
            </a>
            <ul class="nav-dropdown questoes list-unstyled collapse" id="dropdown-questoes" data-bs-parent=".sidebar-nav">
                <li class="nav-item">
                    <a class="nav-link nav-option fw-semibold my-1" href="/questoes">
                        <i class="bi bi-card-list me-2"></i>
                        <span>Listar Questões</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-option fw-semibold my-1" href="/questoes/cadastrar">
                        <i class="bi bi-patch-question me-2"></i>
                        <span>Nova Questão</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-title fw-semibold collapsed has-dropdown" href="#" data-bs-toggle="collapse" data-bs-target="#dropdown-testes" aria-controls="dropdown-testes" aria-expanded="false">
                <i class="bi bi-file-earmark-text"></i>
                <span>Testes</span>
                <i class="bi bi-chevron-down ms-auto dropdown-arrow"></i>
                <i class="bi bi-chevron-right ms-auto right-arrow"></i>
            </a>
            <ul class="nav-dropdown testes list-unstyled collapse" id="dropdown-testes" data-bs-parent=".sidebar-nav">
                <li class="nav-item">
                    <a class="nav-link nav-option fw-semibold my-1" href="/testes">
                        <i class="bi bi-clipboard-data me-2"></i>
                        <span>Listar Testes</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-option fw-semibold my-1" href="/testes/cadastrar">
                        <i class="bi bi-clipboard-plus me-2"></i>
                        <span>Novo Teste</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="sidebar-user dropdown d-flex justify-content-end">
        <button class="botao dropdown-toggle w-100 d-flex align-items-center gap-2"
                type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span>
                <i class="bi bi-person-circle" aria-hidden="true"></i>
            </span>
            <span class="text-truncate">@User.Identity?.Name</span>
        </button>

        <ul class="dropdown-menu dropdown-menu-dark user-dropdown shadow">
@*          <li>
                <a class="dropdown-item d-flex align-items-center gap-2" href="#">
                    <i class="bi bi-person-gear"></i> #placeholder
                </a>
            </li>
            <li><hr class="dropdown-divider"></li> *@
            <li>
                <form class="px-2" asp-controller="Autenticacao" asp-action="Logout" method="post">
                    <button class="dropdown-item text-danger d-flex align-items-center gap-2" type="submit">
                        <i class="bi bi-box-arrow-right"></i> Sair
                    </button>
                </form>
            </li>
        </ul>
    </div>
</aside>